@import "colors";
@import "mixins";

$buttonHeight: 34px;

.button {
  @include resetButton;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 90px;
  height: $buttonHeight;
  line-height: $buttonHeight;
  margin: auto;
  border-radius: 0 0 17px 17px;
  background: $purple-gradian;
  color: white;
  box-shadow: 0 0 15px rgba(black, 0.4);
  z-index: 20;
}

.button_up {
  top: -$buttonHeight;
  border-radius: 17px 17px 0 0;
}

.icon {
  transform: rotate(90deg);
  width: 14px;
  height: 14px;
}
.icon_up {
  transform: rotate(270deg);
}
