{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": false
  },
  "globals": {
    "module": true,
    "environment": true
  },
  "rules": {
    "react/sort-comp": 0,
    "react/default-props-match-prop-types": 0,
    "import/prefer-default-export": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "extensions": [".js", ".jsx"],
            "modules": [
              "node_modules",
              "./"
            ]
          }
        }
      }
    }
  }
}
