$purple: #5C75FF;
$dark-purple: #242E66;
$light-purple: #F5F7FF;
$purple-gradian: linear-gradient(#5C75FF, #7388FF);
$green: #4FB340;
$red: #CC4949;
$light-red: #FFF5F5;
$pink: #FF5CE7;
$orange: #FF8C5C;
$gray: #7F7F7F;
