.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blurredImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px) saturate(50%);
  opacity: 1;
  transform: scale(1.01);
  transition: 300ms;
}
.blurredImage_hide {
  transition: 1000ms;
  opacity: 0;
  transform: scale(1);
}

.areaEnter {
  opacity: 0;
  transform: scale(0.5);
}
.areaEnterActive {
  opacity: 1;
  transform: scale(1);
  animation: areaEnter 300ms;
}
.areaExit {
  opacity: 1;
  transform: scale(1);
}
.areaExitActive {
  opacity: 0;
  transform: scale(0.5);
  animation: areaLeave 300ms;
}

.pointEnter {
  transform: translate3d(-50%, -50%, 0) scale(0);
}
.pointEnterActive {
  transform: translate3d(-50%, -50%, 0) scale(1);
  transition: 300ms;
}
.pointExit {
  transform: translate3d(-50%, -50%, 0) scale(1);
}
.pointExitActive {
  transform: translate3d(-50%, -50%, 0) scale(0);
  transition: 300ms;
}

@keyframes areaEnter {
  0%   { opacity: 0; transform: scale(0.5); border-radius: 50%; }
  75%  { opacity: 1; transform: scale(1.05); border-radius: 5px; }
  100% { opacity: 1; transform: scale(1); }
}
@keyframes areaLeave {
  0%   { opacity: 1; transform: scale(1); border-radius: 5px; }
  100% { opacity: 0; transform: scale(0.5); border-radius: 50%; }
}

