@import "responsive";

$transitionDuration: 400ms;

.container {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transitionDuration;
}

.containerEnter {
  opacity: 0;
  transform: translateX(50%);
  @include phone {
    transform: translateX(100%);
  }
}
.containerEnterActive {
  opacity: 1;
  transform: translateX(0);
}
.containerExit {
  opacity: 1;
  transform: translateX(0);
}
.containerExitActive {
  opacity: 0;
  transform: translateX(50%);
  @include phone {
    transform: translateX(100%);
  }
}

.card {
  position: relative;
  width: calc(100% - 20px);
  max-width: 400px;
  height: calc(100% - 20px);
  max-height: 400px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  transform-origin: 0 50%;
  transition: $transitionDuration;
}
