$transitionDuration: 300ms;

.inputContainer {
  position: relative;
}

.animationContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: $transitionDuration;
}

.inputUrlEnter {
  opacity: 0;
  transform: translateX(-100%);
}
.inputUrlEnterActive {
  opacity: 1;
  transform: translateX(0);
}
.inputUrlExit {
  opacity: 1;
  transform: translateX(0);
}
.inputUrlExitActive {
  opacity: 0;
  transform: translateX(-100%);
}

.inputFileEnter {
  opacity: 0;
  transform: translateX(100%);
}
.inputFileEnterActive {
  opacity: 1;
  transform: translateX(0);
}
.inputFileExit {
  opacity: 1;
  transform: translateX(0);
}
.inputFileExitActive {
  opacity: 0;
  transform: translateX(100%);
}
