@import "colors";
@import "mixins";

$transitionDuration: 300ms;
$labelTranslate: 13px;

.container {
  @include resetButton;
  position: relative;
  width: 150px;
  height: 35px;
  line-height: 31px;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  transition: $transitionDuration;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid;
    border-radius: 10px;
  }
}
.container_checked {
  &.pink {
    background-color: $pink;
  }
  &.orange {
    background-color: $orange;
  }
  &.gray {
    background-color: $gray;
  }
  &.green {
    background-color: $green;
  }

  .checkmark {
    opacity: 1;
    transform: translateX($labelTranslate);
  }
  .label {
    color: white;
    transform: translateX($labelTranslate);
  }
}

.pink {
  color: $pink;
}
.orange {
  color: $orange;
}
.gray {
  color: $gray;
}
.green {
  color: $green;
}

.checkmark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3px;
  margin: auto 0;
  width: 18px;
  height: 14px;
  color: white;
  opacity: 0;
  transition: $transitionDuration;
}

.label {
  display: block;
  font-weight: normal;
  text-align: center;
  transition: $transitionDuration;
}
