@import "responsive";

.configCard {
  div {
    max-height: 580px;
  }
}

.types {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: min-content;
  @include phone {
    flex-direction: column;
    align-items: center;
  }
}
