$transitionDuration: 400ms;

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(#374699, 0.3);
  overflow: auto;
  overflow-x: hidden;
  transition: opacity $transitionDuration, filter 0ms 100ms;
}
.content_blurred {
  transition: opacity $transitionDuration, filter 0ms 250ms;
  filter: blur(3px);
}
